// compileCompressed: ../../build/main.min.css;
@import "./partials/_globals";

// Landing Banner
#landing-banner {
  background: url('../img/bg.jpg') no-repeat center center fixed / cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;

  .callout {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .down-arrow {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    height: 3rem;
    opacity: .5;

    i {
      position: relative;
      color: #fff;
      animation: bounce 1s infinite alternate;
    }

    @keyframes bounce {
      from {
        transform: translateY(0rem);
      }
      to {
        transform: translateY(1.5rem);
      }
    }
  }

  h1, h2, h3 { color: #fff; }

  h3 {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
}

#container {
  width: 65%;
  margin: 0 auto;
  padding: 8rem 0;
}

// Map
.map-list {
  height: 100%;
  flex: 1;
}

#map {
  height: 40rem;
  flex: 2;
}

@import "./partials/_media-queries";
